* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Comforta";
  src: url(../assets/fonts/comfortaa/Comfortaa-Regular.ttf);
  font-family: "Outfit";
  src: url(../assets/fonts/outfit/Outfit-Regular.ttf);
  font-family: "ArchivoNarrow";
  src: url(../assets/fonts/archivo_narrow/ArchivoNarrow-Regular.ttf);
  font-family: "Urbanist";
  src: url(../assets/fonts/urbanist/ArchivoNarrow-Regular.ttf);
  font-family: "BaiJamjuree";
  src: url(../assets/fonts/bai-jumjuree/BaiJamjuree-Regular.ttf);
}
Html,
body {
  font-family: "Comforta", sans-serif;
  line-height: 1.8;
  color: black;
  letter-spacing: 2px;
  word-spacing: 3px;
  scroll-behavior: smooth;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: orangered;
  border-radius: 5px;
}

::selection {
  background-color: #5bbdff;
  color: black;
}

/******************** COMMON STYLE ****************/
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.products-details-section {
  margin-bottom: 80px;
}

.products-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.product-details-top {
  margin-top: 100px;
}

.product-img {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.product-images img:hover {
  transform: scale(1.1);
}

.product-tab-img {
  display: flex;
  gap: 20px;
}

.tab-img {
  overflow: hidden;
  width: 100%;
  height: 150px;
}
.tab-img button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  transition: 0.5s;
}

.tab-img button img:hover {
  transform: scale(1.1);
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.products-star {
  display: flex;
  gap: 5px;
}

.product-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.product-btn button {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: BaiJamjuree;
}

.product-btn button:hover {
  background-color: black;
}

.product-items {
  display: flex;
  gap: 28px;
  font-family: Outfit;
}

.product-items li a {
  font-size: 17px;
}
.product-items li:hover a {
  color: orangered;
}
.product-items .home-icon {
  color: orangered;
  font-size: 18px;
}
.product-items .product-item2::before {
  content: ">";
  font-size: 17px;
  position: absolute;
  transform: translate(-140%);
  color: black !important;
  align-items: center;
  margin-top: 2px;
}

.products-details-wrapper .products-header {
  height: 50vh;
  background-image: url("https://images.pexels.com/photos/7256102/pexels-photo-7256102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}

.products-header-content {
  text-align: center;
}
.products-details-wrapper .product-home {
  text-align: center;
  font-family: Outfit;
  display: inline-block;
}
.products-details-wrapper .product-items {
  display: flex;
  gap: 28px;
  margin: 0 auto;
}

.products-details-wrapper .product-items li a {
  font-size: 18px;
}

.product-items .product-item2 a {
  color: #161616 !important;
}
.product-items .product-item2::before {
  content: ">";
  font-size: 17px;
  position: absolute;
  transform: translate(-140%);
  color: #161616 !important;
  align-items: center;
  margin-top: 2px;
}

.products-details-wrapper .product-title {
  font-size: 46px;
  font-weight: 500;
  color: #161616;
  font-family: Urbanist;
}

.products-header .products-header-content {
  margin-top: 80px;
}
.products-details-wrapper .product-item1 {
  display: flex;
  gap: 4px;
}

.products-details-wrapper .product-item1 .home-icon i {
  color: orangered;
}

.product-description {
  padding: 10px;
  font-family: Urbanist;
}
.product-description .product-title {
  font-size: 32px;
  font-family: Outfit;
}

.product-description .product-price {
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  font-family: ArchivoNarrow !important;
}

.product-description .products-star {
  align-items: center;
}

.product-description .products-star .stars i {
  font-size: 13px;
  color: orangered;
}

.product-description .products-star p {
  font-size: 15px;
  align-items: center;
}

.product-details {
  margin-top: 28px;
}

.product-description hr {
  height: 0.2px;
  background-color: rgb(214, 210, 210);
  margin-top: 28px;
}

.product-details p {
  font-size: 17px;
}

.product-description .beauty {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 16px;
}

.product-description .beauty {
  margin-top: 30px;
}

.product-description .beauty p a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 6px;
  transition: 0.5s;
  font-weight: 500;
}

.product-description .beauty p a:hover {
  color: orangered;
}

.product-description .sku,
.category,
.tag,
.share {
  font-weight: 600;
}

.product-description .sku-num {
  font-weight: 500;
}

.product-social-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-social-links {
  display: flex;
  gap: 14px;
  transition: 0.5s;
}

.product-social-links i:hover {
  color: orangered;
}
.product-details-middle {
  margin-top: 100px;
}

.tab-lists ul {
  display: flex;
  gap: 100px;
}

.tab-lists ul li {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: Outfit;
  transition: 0.5s;
}

.tab-lists ul li:hover {
  cursor: pointer;
}

.tab-lists hr {
  height: 0.2px;
  background-color: #c9c3c3;
  margin-top: 20px;
}
.tab-list li.active {
  color: orangered;
}

.tab-list {
  position: relative;
}

.tab-list::after {
  content: "";
  width: 0%;
  height: 0.01rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eb4019;
  transition: 0.5s;
}
.tab-list:hover::after {
  width: 100%;
}

.tab-description {
  margin-top: 30px;
  font-family: Urbanist;
}

.tab-description p {
  font-size: 17px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  font-family: Outfit;
}

th,
td {
  border: 1px solid #ad9c9c;
  padding: 2px 15px;
  text-align: left;
}

th {
  font-size: 24px;
  font-weight: 500;
}

.reviewer-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.reviewer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab3-rev .review-for {
  font-size: 28px;
  color: #161616;
}

.reviewer-info {
  margin-top: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.tab3-rev hr {
  height: 0.2px;
  background-color: rgb(214, 210, 210);
  margin-top: 20px;
}

.reviewer-des {
  display: flex;
  flex-direction: column;
}

.reviewer-des .stars {
  align-items: center;
}

.reviewer-des .stars i {
  font-size: 11px;
  color: orangered;
}

.reviewer-des .stars i:nth-child(5) {
  color: #4b4848;
}

.reviewer-des .reviewer-name {
  font-size: 28px;
  color: #161616;
  font-weight: 500;
}

.reviewer-des .reviewer-name span {
  font-size: 18px;
}

.reviewer-des .reviewer-degi {
  font-size: 18px;
}

.add-review {
  margin-top: 14px;
}

.add-review h3 {
  font-size: 28px;
  color: #161616;
  font-weight: 500;
}

.add-review p {
  color: #524949;
  font-family: Outfit;
}

.rating span {
  display: flex;
  gap: 5px;
}
.rating span i {
  font-size: 10px;
  color: #524949;
}

.add-comment {
  margin-top: 40px;
}

.add-comment .comment {
  border: 2px solid #d6d2d2;
  resize: none;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  border-radius: 5px;
}
.add-comment .inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.add-comment .inputs input {
  border: 1px solid #d6d2d2;
  padding: 20px 24px;
  width: 100%;
  border-radius: 5px;
}

.save-details {
  display: flex;
  gap: 5px;
  align-items: center;
}
.save-details p {
  font-size: 14px;
  letter-spacing: 0.1px;
}

.submit-btn {
  background-color: orangered;
  color: white;
  padding: 14px 40px;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 2.5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.submit-btn:hover {
  background-color: black;
}

.products-detail-img .product-detail-img img {
  width: 409px !important;
  height: 450px;
  border-radius: 10px;
}

.products-detail-img .product-detail-img .pic-2 {
  width: 409px !important;
  height: 450px;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 10px;
}

.product-items-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products-detail-img .product-detail-img .pic-1 {
  transition: 0.5s;
  text-align: center;
}

.products-detail-img .product-detail-img .pic-2 {
  transition: 0.5s;
  text-align: center;
}
.product-details-down {
  margin-top: 100px;
}

.releted-products h2 {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-family: Urbanist;
  font-size: 34px;
  font-weight: 500;
  color: #161616;
}

.item {
  width: 100%;
  overflow: hidden;
}

.products-detail-img .product-detail-img {
  text-align: center;
}

.tab-description > div {
  display: none;
}

.tab-description > div.active {
  display: block;
}

@media screen and (max-width: 1250px) {
  .products-detail-img .product-detail-img img {
    width: 350px !important;
    height: 450px;
  }

  .products-detail-img .product-detail-img .pic-2 {
    width: 350px !important;
    height: 450px;
  }
}
@media screen and (max-width: 1100px) {
  .products-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 100%;
  }

  .tab-img {
    width: 100%;
    height: 200px;
  }

  .product-items-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .tab-lists ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .tab-list::after {
    content: "";
    width: 0%;
    height: 0.01rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-100%, -80%);
    background-color: #eb4019;
    transition: 0.5s;
  }
  .tab-list:hover::after {
    width: 50%;
  }

  .product-items-details {
    display: grid;
    grid-template-columns: 1fr;
  }

  .tab3-rev .review-for {
    font-size: 20px;
  }

  .reviewer-des .reviewer-name {
    font-size: 20px;
  }

  .reviewer-des .reviewer-name span {
    font-size: 14px;
  }

  .reviewer-des .reviewer-degi {
    font-size: 14px;
  }

  .add-review h3 {
    font-size: 20px;
  }

  .products-details-wrapper .product-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .tab-img {
    width: 100%;
    height: 160px;
  }

  .product-img {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .product-description .product-title {
    font-size: 24px;
  }

  th {
    font-size: 18px;
  }

  .product-social-links i {
    font-size: 10px;
  }

  .tab-lists ul li {
    font-size: 10px;
  }

  .tab1-des p {
    font-size: 14px;
  }

  .releted-products h2 {
    font-size: 18px;
  }

  .products-detail-img .product-detail-img img {
    width: 300px !important;
    height: 400px;
  }

  .products-detail-img .product-detail-img .pic-2 {
    width: 300px !important;
    height: 400px;
  }

  .products-details-wrapper .product-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 400px) {
  .product-description .product-title {
    font-size: 20px;
  }

  .tab3-rev .review-for {
    font-size: 14px;
  }

  .reviewer-des .reviewer-name {
    font-size: 14px;
  }

  .reviewer-des .reviewer-name span {
    font-size: 11px;
  }

  .reviewer-des .reviewer-degi {
    font-size: 12px;
  }

  .add-review h3 {
    font-size: 14px;
  }

  .products-details-wrapper .product-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 320px) {
  .product-description .product-title {
    font-size: 18px;
  }
}
