@media (max-width: 1279px) {
  .swiper .swiper-content {
    width: 85%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 50px;
    width: 100%;
  }

  .modal .modal-wrapper {
    margin-top: 15%;
  }
}

@media (max-width: 1227px) {
  .modal .modal-wrapper {
    margin-top: 17%;
  }
}

@media (max-width: 1023px) {
  .modal .modal-wrapper .save {
    font-size: 48px;
    margin-top: 0px;
  }
  .modal .modal-wrapper {
    margin-top: 18%;
  }
}

@media (max-width: 973px) {
  .swiper .swiper-content p {
    font-size: 48px;
    width: 100%;
  }
  .nav .logo a {
    font-size: 28px;
  }

  .dropdown:hover .dropdown-items2 {
    display: none;
  }

  .result .search-view {
    padding: 0px 8px;
  }
  .search-details {
    margin-top: 7px;
  }

  .search-modal-content {
    gap: 18px;
  }
}

@media (max-width: 900px) {
  .swiper .swiper-content {
    width: 90%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 47px;
    width: 100%;
  }

  .menu .link-items {
    display: none;
  }

  .nav-items .toggle-nav {
    display: block;
    font-size: 16px;
  }

  header .mobile-nav {
    display: none;
    z-index: 1008;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
    padding-bottom: 10%;
  }

  header .mobile-nav .mobile-menu {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  header .mobile-nav .mobile-menu li a {
    font-size: 17px;
    color: white;
  }

  .mobile-nav .link-item {
    position: relative;
  }

  .mobile-nav .link-item:hover {
    color: orangered;
  }

  .mobile-nav .link-item::after {
    content: "";
    width: 0%;
    height: 0.1rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eb4019;
    transition: 0.5s;
  }
  .mobile-nav .link-item:hover::after {
    width: 100%;
  }

  .modal .modal-wrapper .save {
    font-size: 36px;
    margin-top: 0px;
  }
  .modal .modal-wrapper p {
    width: 80vw;
  }

  .modal .modal-wrapper {
    padding: 10px;
  }
  .modal .modal-wrapper {
    margin-top: 20%;
  }
}

@media screen and (max-width: 816px) {
  .swiper .swiper-content {
    width: 95%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 42px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .swiper .swiper-content {
    width: 95%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 44px;
    width: 100%;
    text-align: center;
  }
  .swiper .swiper-content button {
    margin-left: 40%;
  }

  .top-header {
    height: 42px;
  }
  .modal .modal-wrapper {
    margin-top: 25%;
  }

  .modal .modal-wrapper .save {
    font-size: 38px;
    margin-top: 5px;
  }

  .modal .modal-wrapper p {
    width: 90vw;
  }
  .swiper-content {
    width: 80%;
    top: 45%;
    left: 50%;
  }

  .swiper-content p {
    font-size: 45px;
    width: 100%;
  }

  .swiper-button-prev {
    margin-left: 12px !important;
  }

  header .search-modal {
    width: 95%;
    margin-left: 5px;
  }

  .search-modal-content .search-title,
  .search-price {
    font-size: 14px;
  }

  header .search-modal .search-modal-wrapper .search-title {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  header .top-header .lang,
  header .top-header .language span {
    display: none;
  }

  header .top-header .top-header-middle,
  header .top-header .social-icons {
    margin: 0 auto;
  }

  .swiper .swiper-content {
    width: 90%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
  .swiper .swiper-content button {
    margin-left: 35%;
  }

  header .modal-content {
    padding: 25px;
  }

  header .cart-modal {
    width: 100vw;
    left: 10%;
  }

  header .cart-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  header .cart-modal .cart-img {
    width: 220px;
    height: 100px;
    margin: 0 auto;
  }

  header .cart-modal .cart-detail {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
  }

  header .search-modal {
    width: 100%;
  }

  header .search-modal .src-form {
    width: 70%;
  }

  header .search-modal .search-view {
    font-size: 14px;
  }

  header .search-modal .search-modal-wrapper p {
    font-size: 16px;
  }

  header .search-modal .search-modal-wrapper .search-title {
    width: 70%;
  }

  .search-modal .search-wrapper .search-modal-cross {
    font-size: 16px;
    padding: 5px 12px;
  }

  .banner-img {
    width: 200px;
    height: 180px;
    margin: 0 auto;
  }

  .modal .modal-wrapper .save {
    font-size: 32px;
    margin-top: 5px;
  }

  .modal .modal-wrapper p {
    width: 87vw;
  }
  .modal .modal-wrapper {
    padding: 10px;
  }
}

@media screen and (max-width: 474px) {
  .swiper .swiper-content {
    width: 100%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 36px;
    width: 100%;
    text-align: center;
  }

  .nav .logo a {
    font-size: 20px;
  }
  .nav-left form {
    display: none;
  }
  .top-header .social-icons {
    display: none;
  }

  .modal .modal-wrapper {
    margin-top: 40%;
  }

  .modal .modal-wrapper .save {
    font-size: 30px;
  }

  header .search-modal .search-modal-wrapper .search-img {
    width: 80px;
    height: 120px;
  }

  header .search-modal .search-modal-wrapper .search-star {
    display: flex;
    gap: 13px;
  }

  header .search-modal .search-modal-wrapper .item-cross {
    float: right;
    margin-top: -112px;
  }

  header .search-modal .search-details p {
    font-size: 12px;
  }

  .search-modal-wrapper .result button {
    font-size: 10px;
    padding: 0px 5px;
  }

  header .modal-content {
    padding: 20px;
  }

  .cart-modal .cart-detail .qunt {
    margin-left: 0;
  }

  .cart-btn h3 {
    font-size: 20px;
  }

  .qunt-btn button {
    padding: 4px 10px;
  }

  header .search-modal-content {
    display: flex;
    gap: 20px;
  }

  .banner-img {
    width: 250px;
    height: 180px;
    margin: 0 auto;
  }

  header .cart-modal .cart-btn h3 {
    font-size: 24px;
  }

  header .cart-modal .cart-btn .cross-btn2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 423px) {
  .swiper .swiper-content {
    width: 100%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 34px;
    width: 100%;
    text-align: center;
  }

  .qunt {
    margin-left: 30px;
  }

  .modal .modal-wrapper {
    margin-top: 45%;
  }

  .modal .modal-wrapper .save {
    font-size: 28px;
  }

  header .search-modal .search-details p {
    font-size: 12px;
  }
  .search-modal .search-modal-wrapper {
    margin-top: 40px;
  }
}

@media screen and (max-width: 400px) {
  header .search-modal .search-details {
    width: 60%;
  }
  header .search-modal .search-details p {
    font-size: 12px;
  }
  header .search-modal .search-details .search-star i {
    font-size: 10px;
  }

  header .search-modal .search-img {
    width: 100px;
    height: 110px;
  }

  .item-cross {
    font-size: 10px;
    margin-top: -150px;
    padding: 5px 14px;
  }

  .search-modal .search-modal-wrapper .search-details {
    margin-top: 0px;
  }
  header .cart-modal .cart-detail {
    display: flex;
    gap: 30px;
  }

  header .cart-modal .cart-detail h3 {
    font-size: 15px;
  }
  header .cart-modal .cart-detail p {
    font-size: 14px;
  }

  header .cart-modal .cart-btn .cross-btn2 {
    font-size: 18px;
  }
  header .cart-modal .cart-btn h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 385px) {
  .swiper .swiper-content {
    width: 100%;
    top: 48%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .language {
    display: none;
  }
  .top-header-middle {
    margin: 0 auto;
  }
  .modal .modal-wrapper .save {
    font-size: 25px;
  }
  .modal .modal-wrapper p {
    font-size: 20px;
  }

  .swiper-content p {
    font-size: 35px;
    width: 100%;
  }

  .qunt {
    margin-left: 20px;
  }

  header .search-modal .search-details {
    width: 50%;
  }
  header .search-modal .search-details p {
    font-size: 10px;
  }
  header .search-modal .search-details .search-star i {
    font-size: 8px;
  }
  header .search-modal .search-details .search-star .review {
    font-size: 10px;
  }

  header .search-modal .search-img {
    width: 100px;
    height: 120px;
  }

  .search-modal-wrapper .search-details .search-price {
    font-size: 10px;
    margin-top: -5px;
  }

  .search-modal-wrapper .item-cross {
    padding: 2px 5px;
  }
}
@media screen and (max-width: 356px) {
  .swiper .swiper-content {
    width: 100%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 26px;
    width: 100%;
    text-align: center;
  }
  .swiper .swiper-content button {
    margin-left: 30%;
  }

  .qunt-btn button {
    padding: 3px 5px;
  }
  header .search-modal .src-form {
    width: 80%;
  }

  header .cart-modal .cart-detail {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  header .cart-modal .cart-detail h3 {
    font-size: 13px;
  }
  header .cart-modal .cart-detail p {
    font-size: 12px;
  }

  header .cart-modal .cart-btn .cross-btn2 {
    font-size: 16px;
  }

  header .cart-modal .cart-btn h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 283px) {
  nav .nav-items .logo a {
    font-size: 16px;
  }
  nav .nav-left .search-icon,
  nav .nav-left .user-icon,
  nav .nav-left .cart-icon {
    font-size: 16px;
  }

  .nav-items .toggle-nav {
    font-size: 14px;
    padding: 2px 8px;
  }

  .swiper .swiper-content {
    width: 100%;
    top: 48%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
  .swiper .swiper-content button {
    margin-left: 25%;
  }
  .modal .modal-wrapper span {
    font-size: 14px;
  }
  .modal .modal-wrapper .save {
    font-size: 20px;
  }
  .modal .modal-wrapper p {
    font-size: 16px;
  }

  header .search-modal .search-img {
    width: 70px;
    height: 120px;
  }

  .search-modal-wrapper .search-modal-content {
    gap: 10px;
  }

  .search-modal-wrapper .result button {
    display: none;
  }

  header .cart-modal .cart-btn h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 268px) {
  header .top-header .top-header-middle p {
    display: none;
  }
  .swiper .swiper-content {
    width: 100%;
    top: 45%;
    left: 50%;
  }

  .swiper .swiper-content p {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
  .swiper .swiper-content button {
    margin-left: 20%;
  }

  .modal .modal-wrapper span {
    font-size: 12px;
  }
  .modal .modal-wrapper .save {
    font-size: 18px;
  }
  .modal .modal-wrapper p {
    font-size: 14px;
  }

  header .search-modal .search-modal-wrapper .search-img {
    width: 70px;
    height: 120px;
  }

  .search-modal-wrapper .review {
    display: none;
  }
}
@media screen and (max-width: 220px) {
  nav .nav-items .logo a {
    font-size: 14px;
  }
  nav .nav-left .search-icon,
  nav .nav-left .user-icon,
  nav .nav-left .cart-icon {
    font-size: 14px;
  }

  .nav-items .toggle-nav {
    font-size: 12px;
  }
  .swiper .swiper-content p {
    font-size: 22px;
  }
  .swiper .swiper-content button {
    margin-left: 22%;
    padding: 3px 10px;
    font-size: 14px;
  }
  .modal .modal-wrapper span {
    font-size: 12px;
  }
  .modal .modal-wrapper .save {
    font-size: 17px;
  }
  .modal .modal-wrapper p {
    font-size: 14px;
  }
  .modal .modal-wrapper p {
    width: 95vw;
  }
}
