@media (max-width: 1279px) {
  .swiper-content {
    width: 80%;
    top: 45%;
    left: 50%;
  }

  .swiper-content p {
    font-size: 50px;
    width: 100%;
  }
  .swiper-button-prev {
    margin-left: 16px !important;
  }
  .modal .modal-wrapper {
    margin-top: 15%;
  }
}

@media (max-width: 1227px) {
  .swiper-content {
    width: 80%;
    top: 45%;
    left: 50%;
  }

  .swiper-content p {
    font-size: 50px;
    width: 100%;
  }

  .modal .modal-wrapper {
    margin-top: 17%;
  }
}

@media (max-width: 1023px) {
  .swiper-content {
    width: 80%;
    top: 45%;
    left: 50%;
  }
  .swiper-content p {
    font-size: 50px;
    width: 100%;
  }

  .cart-modal.active {
    display: block;
    transform: translateX(-9%);
  }

  .modal .modal-wrapper .save {
    font-size: 48px;
    margin-top: 0px;
  }
  .modal .modal-wrapper {
    margin-top: 18%;
  }
}

@media (max-width: 973px) {
  .nav .logo a {
    font-size: 28px;
  }

  .dropdown:hover .dropdown-items2 {
    display: none;
  }

  .swiper-content {
    width: 80%;
    top: 45%;
    left: 50%;
  }

  .swiper-content p {
    font-size: 50px;
    width: 100%;
  }
  .result .search-view {
    padding: 0px 8px;
  }
  .search-details {
    margin-top: 7px;
  }

  .search-modal-content {
    gap: 18px;
  }
}

@media (max-width: 900px) {
  .menu .link-items {
    display: none;
  }

  .nav-items .toggle-nav {
    display: block;
    font-size: 16px;
  }

  header .mobile-nav {
    display: none;
    z-index: 1008;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
    padding-bottom: 10%;
  }

  header .mobile-nav .mobile-menu {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  header .mobile-nav .mobile-menu li a {
    font-size: 17px;
    color: white;
  }

  .mobile-nav .link-item {
    position: relative;
  }

  .mobile-nav .link-item:hover {
    color: orangered;
  }

  .mobile-nav .link-item::after {
    content: "";
    width: 0%;
    height: 0.1rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eb4019;
    transition: 0.5s;
  }
  .mobile-nav .link-item:hover::after {
    width: 100%;
  }

  .nav .logo a {
    font-size: 28px;
  }

  .swiper-content {
    width: 70%;
    top: 35%;
    left: 50%;
  }

  .swiper-content p {
    font-size: 40px;
    width: 100%;
  }

  .modal .modal-wrapper .save {
    font-size: 36px;
    margin-top: 0px;
  }
  .modal .modal-wrapper p {
    width: 80vw;
  }

  .modal .modal-wrapper {
    padding: 10px;
  }
  .modal .modal-wrapper {
    margin-top: 20%;
  }
}

@media screen and (max-width: 768px) {
  .top-header {
    height: 42px;
  }
  .modal .modal-wrapper {
    margin-top: 25%;
  }

  .modal .modal-wrapper .save {
    font-size: 38px;
    margin-top: 5px;
  }

  .modal .modal-wrapper p {
    width: 90vw;
  }
  .swiper-content {
    width: 80%;
    top: 45%;
    left: 50%;
  }

  .swiper-content p {
    font-size: 45px;
    width: 100%;
  }

  .swiper-button-prev {
    margin-left: 12px !important;
  }

  .cart-modal.active {
    display: block;
    transform: translateX(-7%);
  }

  header .search-modal {
    width: 100%;
    margin-left: 0;
  }

  .search-modal-content .search-title,
  .search-price {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .nav .logo a {
    font-size: 24px;
  }

  .cart-modal {
    width: 100vw;
    left: 10%;
  }

  header .search-modal .src-form {
    width: 90%;
  }
  .welcome {
    display: none;
  }
  .swiper-content {
    width: 80%;
    top: 45%;
    left: 55%;
  }

  .swiper-content p {
    font-size: 50px;
    width: 100%;
  }
  .cart-modal.active {
    display: block;
    transform: translateX(-6%);
  }

  .search-modal {
    width: 100%;
    margin-left: 4%;
  }

  .banner-img {
    width: 200px;
    height: 180px;
    margin: 0 auto;
  }

  .modal .modal-wrapper .save {
    font-size: 32px;
    margin-top: 5px;
  }

  .modal .modal-wrapper p {
    width: 87vw;
  }
  .modal .modal-wrapper {
    padding: 10px;
  }
}

@media screen and (max-width: 474px) {
  .nav .logo a {
    font-size: 20px;
  }
  .nav-left form {
    display: none;
  }
  .top-header .social-icons {
    display: none;
  }

  .modal .modal-wrapper {
    margin-top: 40%;
  }

  .modal .modal-wrapper .save {
    font-size: 30px;
  }

  .cart-modal {
    width: 100vw;
  }
  .cart-modal.active {
    transform: translateX(-2%);
  }
  .cart-btn h3 {
    font-size: 20px;
  }

  .cart-items {
    gap: 10px;
  }

  .cart-item {
    gap: 7px;
  }

  .qunt {
    margin-left: 45px;
  }
  .qunt-btn button {
    padding: 4px 10px;
  }

  header .search-modal-content {
    display: flex;
    gap: 20px;
  }

  .banner-img {
    width: 250px;
    height: 180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 423px) {
  .swiper-content {
    width: 80%;
    top: 45%;
    left: 52%;
  }

  .swiper-content p {
    font-size: 45px;
    width: 100%;
  }

  .qunt {
    margin-left: 30px;
  }
  .search-details {
    width: 45%;
  }

  .modal .modal-wrapper {
    margin-top: 45%;
  }

  .modal .modal-wrapper .save {
    font-size: 28px;
  }
}

@media screen and (min-width: 400px) {
  header .search-modal .search-details {
    width: 60%;
  }
  header .search-modal .search-details p {
    font-size: 12px;
  }
  header .search-modal .search-details .search-star i {
    font-size: 10px;
  }

  header .search-modal .search-img {
    width: 100px;
    height: 120px;
  }

  .item-cross {
    font-size: 10px;
    margin-top: -150px;
    padding: 5px 14px;
  }
  .search-modal-wrapper {
    margin-top: 20px;
  }
}
@media screen and (max-width: 385px) {
  .language {
    display: none;
  }
  .top-header-middle {
    margin: 0 auto;
  }
  .modal .modal-wrapper .save {
    font-size: 25px;
  }
  .modal .modal-wrapper p {
    font-size: 20px;
  }

  .swiper-content p {
    font-size: 35px;
    width: 100%;
  }

  .qunt {
    margin-left: 20px;
  }

  header .search-modal .search-details {
    width: 50%;
  }
  header .search-modal .search-details p {
    font-size: 10px;
  }
  header .search-modal .search-details .search-star i {
    font-size: 8px;
  }
  header .search-modal .search-details .search-star .review {
    font-size: 10px;
  }

  header .search-modal .search-img {
    width: 100px;
    height: 120px;
  }
}
@media screen and (max-width: 353px) {
  .swiper-content p {
    font-size: 34px;
    width: 100%;
  }

  .qunt-btn button {
    padding: 3px 5px;
  }
}
@media screen and (max-width: 282px) {
  .swiper-content p {
    font-size: 20px;
    width: 100%;
  }
  .modal .modal-wrapper span {
    font-size: 14px;
  }
  .modal .modal-wrapper .save {
    font-size: 20px;
  }
  .modal .modal-wrapper p {
    font-size: 16px;
  }
}

@media screen and (max-width: 268px) {
  .top-header-middle p {
    display: none;
  }

  .modal .modal-wrapper span {
    font-size: 12px;
  }
  .modal .modal-wrapper .save {
    font-size: 18px;
  }
  .modal .modal-wrapper p {
    font-size: 14px;
  }
}
@media screen and (max-width: 220px) {
  .modal .modal-wrapper span {
    font-size: 12px;
  }
  .modal .modal-wrapper .save {
    font-size: 17px;
  }
  .modal .modal-wrapper p {
    font-size: 14px;
  }
  .modal .modal-wrapper p {
    width: 95vw;
  }
}
