* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Comforta";
  src: url(../assets/fonts/comfortaa/Comfortaa-Regular.ttf);
  font-family: "Outfit";
  src: url(../assets/fonts/outfit/Outfit-Regular.ttf);
  font-family: "ArchivoNarrow";
  src: url(../assets/fonts/archivo_narrow/ArchivoNarrow-Regular.ttf);
  font-family: "Urbanist";
  src: url(../assets/fonts/urbanist/ArchivoNarrow-Regular.ttf);
  font-family: "BaiJamjuree";
  src: url(../assets/fonts/bai-jumjuree/BaiJamjuree-Regular.ttf);
}
Html,
body {
  font-family: "Comforta", sans-serif;
  line-height: 1.8;
  color: black;
  letter-spacing: 2px;
  word-spacing: 3px;
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: orangered;
  border-radius: 5px;
}

::selection {
  background-color: #5bbdff;
  color: black;
}

/******************** COMMON STYLE ****************/
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.shop-wrapper {
  margin-bottom: 50px;
}

.shop-wrapper .shop-header {
  height: 50vh;

  background-image: url("https://res.cloudinary.com/dh0ado2ir/image/upload/v1703240088/baner-v1_pnavee.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.shop-header-content {
  text-align: center;
}
.shop-wrapper .shop-home {
  text-align: center;
  font-family: Outfit;
  display: inline-block;
}
.shop-wrapper .shop-items {
  display: flex;
  gap: 28px;
  margin: 0 auto;
}

.shop-wrapper .shop-items li a {
  font-size: 18px;
  /* color:orangered; */
  color: white;
}

.shop-items .shop-item2 a {
  color: #c4bbbb !important;
}
.shop-items .shop-item2::before {
  content: ">";
  font-size: 17px;
  position: absolute;
  transform: translate(-140%);
  color: #c4bbbb !important;
  align-items: center;
  margin-top: 2px;
}

.shop-wrapper .shop-title {
  font-size: 48px;
  font-weight: 500;
  color: white;
  font-family: Urbanist;
}

.shop-header .shop-header-content {
  margin-top: 80px;
}
.shop-wrapper .shop-item1 {
  display: flex;
  gap: 4px;
}

.shop-wrapper .shop-item1 .home-icon i {
  color: orangered;
}

.shop-products-area {
  display: flex;
  gap: 20px;
  color: #332e2e;
  padding-top: 40px;
}

.shop-products-area.side-wrapper-hidden {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.shop-products-area.side-wrapper-hidden .products-wrapper {
  flex: 1;
}

.shop-products-area.side-wrapper-hidden .side-wrapper {
  display: none;
}

.shop-products-area .side-wrapper {
  background-color: #f5efef;
  padding: 32px 14px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  transition: 0.5s;

  z-index: 99;
  font-family: Outfit;
}

.side-wrapper.hide {
  transform: translateX(-100%);
}

.side-wrapper .side-bar-close-icon {
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  color: white;
  background-color: orangered;
  font-size: 14px;
  float: right;
  top: 6px;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: 0.6s;
}

.side-wrapper .side-bar-close-icon:hover {
  background-color: #332e2e;
}

.side-wrapper .side-bar-title {
  display: flex;
  justify-content: space-between;
}

.side-wrapper .side-bar-title button {
  font-size: 14px;
  color: orangered;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  font-family: inherit;
}

.side-wrapper .side-bar-title button:hover {
  color: #332e2e;
}

.shop-category {
  margin-top: 10px;
}

.shop-category .category-title {
  font-size: 19px;
  margin-bottom: 10px;
}

.category .category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-wrapper label,
.tags-wrapper label {
  font-weight: 500;
  transition: 0.5s;
}

.category-wrapper label:hover {
  color: orangered;
}

.side-wrapper .filter-price-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.side-wrapper .filter-price {
  margin-top: 22px;
}
.filter-price-heading .price-title {
  font-size: 19px;
}

.filter-price-heading button {
  padding: 6px 18px;
  background-color: orangered;
  border-radius: 50px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;
  font-family: inherit;
}

.filter-price-heading button:hover {
  background-color: #1b1b1b;
}

.filter-price .price-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-inputs .price-input {
  display: flex;
  align-items: center;
}

.price-inputs .price-input span {
  font-size: 15px;
  width: 42px;
  height: 32px;
  display: grid;
  place-items: center;
  background-color: orangered;
  color: white;
}

.price-inputs .price-input input {
  width: 50px;
  height: 32px;
  font-size: 15px;
  border: 1px solid #c3c3c3;
  text-align: center;
}

.price-inputs .price-input input[type="number"]::-webkit-outer-spin-button,
.price-inputs .price-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-ranges .range {
  margin-top: 16px;
}

.price-ranges .range input {
  width: 100%;
}

.exclusive-products {
  margin-top: 20px;
}

.exclusive-products .exclusive-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}

.exclusive-products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exclusive-products-wrapper .exclusive-product {
  display: flex;
  gap: 10px;
}

.exclusive-products-wrapper .exclusive-product img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-top: 5px;
}

.exclusive-product .exclusive-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.exclusive-info .exclusive-ratings {
  font-size: 12px;
  color: orangered;
  align-items: center;
}

.exclusive-info .exclusive-product-title {
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}

.exclusive-info .exclusive-product-title:hover a {
  color: orangered;
}
.exclusive-info .exclusive-product-price {
  font-size: 16px;
  font-weight: 600;
}

.side-wrapper .tags {
  margin-top: 20px;
}

.tags-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  transition: 0.5s;
}
.tags-wrapper label:hover {
  color: orangered;
}

.products-wrapper {
  background-color: #f5efef;
  padding: 5px;
  width: 100%;
}

.products-wrapper img {
  width: 200px;
  height: 200px;
}
.products-wrapper-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 13px;
  margin-top: 0px;
}

.products-wrapper-header .sidebar-show {
  background-color: orangered;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  height: 30px;
  width: 30px;
  display: grid;
  text-align: center;
  font-weight: 600;
  display: none;
  cursor: pointer;
}

.products-wrapper-header .product-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-header-left .shop-product-view {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-header-right {
  position: relative;
}

.product-header-right span i {
  font-size: 10px;
}

.product-header-right .sort {
  display: flex;
  gap: 10px;
  background-color: orangered;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.product-header-right .sort:hover {
  background-color: black;
}

.short-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cfc5c5;
  border: 1px solid #ccc;
  padding: 14px 0;
  z-index: 1000;
  width: 100%;
}

.short-list ul li {
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.5s;
}

.short-list ul li:hover {
  background-color: orangered;
  color: white;
}

.shop-pagination {
  margin-top: 50px;
}

.shop-pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop-pagination-number {
  display: flex;
  gap: 20px;
}

.shop-pagination-number span {
  background-color: #d8d4d4;
  padding: 3px 12px;
  border-radius: 50px;
  font-weight: 700;
  align-items: center;
  font-size: 17px;
  color: #252424;
  transition: 0.5s;
}
.shop-pagination-number span:hover {
  background-color: orangered;
  color: white;
}

.shop-total-page p {
  font-size: 17px;
  font-weight: 600;
  color: #252424;
  font-family: Comforta;
}

.shop-active {
  background-color: orangered;
}
.shop-products-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 80px;
}

.shop-product-img {
  width: 100%;
  height: 300px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shop-product-img .shop-img {
  width: 170px;
  height: 280px;
  overflow: hidden;
  margin: 0 auto;
}

.shop-product-img .shop-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.shop-product-img .shop-img img:hover {
  transform: scale(1.1);
}
.shop-contents {
  display: none;
  color: white;
  background-color: #ff4400e1;
  padding: 10px;
  bottom: -200px;
  position: absolute;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
  font-family: Urbanist;
}

.shop-product-img:hover .shop-contents {
  display: block;
  bottom: 0px;
}

.shop-contents h3 a {
  font-size: 16px;
  color: white;
}

.shop-contents .shop-star i {
  align-items: center;
  font-size: 11px;
}

.shop-contents .shop-cart a {
  padding: 5px 10px;
  background-color: white;
  font-family: BaiJamjuree;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 13px;
}
.display-style-btns {
  display: flex;
  align-items: center;
}
.display-style-btns button {
  font-size: 19px;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.5s;
  color: orangered;
}
.display-style-btns button:hover {
  color: rgb(24, 23, 23);
}
.active-btn {
  color: orangered;
}

.shop-products-images p {
  display: none;
}

/*************** list view start ******************/
.details-active.shop-products-card {
  grid-template-columns: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details-active .shop-product-img .shop-img {
  width: 280px;
  height: 280px;
}

.details-active .shop-product-img .shop-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/************** PRELOADER ANIMATION ****************/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 5000;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 12px solid #dddddd;
  border-top-color: orangered;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* RESPONSIVE START */
@media screen and (min-width: 2600px) {
  .shop-products-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-top: 100px;
  }

  .details-active.shop-products-card {
    grid-template-columns: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 2000px) {
  .shop-products-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 100px;
  }

  .details-active.shop-products-card {
    grid-template-columns: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .shop-products-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1288px) {
  .shop-product-img {
    width: 100%;
    height: 300px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .shop-product-img .shop-img {
    width: 160px;
    height: 280px;
    overflow: hidden;
    margin: 0 auto;
  }

  .shop-wrapper .shop-header {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 1140px) {
  .shop-products-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 100px;
  }

  .shop-products-area .side-wrapper {
    padding: 20px 10px;
  }

  .side-wrapper .side-bar-title h2 {
    font-size: 16px;
  }

  .shop-category .category-title {
    font-size: 16px;
  }

  .category-wrapper label,
  .tags-wrapper label {
    font-size: 13px;
  }

  .filter-price-heading .price-title {
    font-size: 16px;
  }

  .filter-price-heading button {
    padding: 3px 10px;
    font-size: 10px;
  }

  .price-inputs .price-input span {
    font-size: 12px;
    width: 30px;
    height: 22px;
  }

  .price-inputs .price-input input {
    width: 40px;
    height: 22px;
    font-size: 14px;
  }

  .exclusive-products .exclusive-title {
    font-size: 16px;
    font-weight: 500;
  }

  .exclusive-products-wrapper .exclusive-product img {
    width: 90px;
    height: 90px;
  }

  .exclusive-info .exclusive-ratings {
    font-size: 9px;
  }

  .exclusive-info .exclusive-product-price {
    font-size: 13px;
    font-weight: 500;
  }

  .side-wrapper .tags {
    font-size: 14px;
  }
  .shop-products-area .side-wrapper {
    width: 280px;
  }

  .details-active .shop-product-img {
    height: 300px;
  }

  .details-active .shop-product-img .shop-img {
    width: 270px;
    height: 270px;
  }
}

@media screen and (max-width: 968px) {
  .shop-products-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 100px;
  }

  .details-active.shop-products-card {
    grid-template-columns: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .details-active .shop-product-img .shop-img {
    width: 280px;
    height: 280px;
  }

  .shop-product-img {
    height: 240px;
  }

  .shop-product-img .shop-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  .shop-products-area .side-wrapper {
    width: 265px;
  }
  .products-wrapper-header {
    display: flex;
    flex-direction: column;
  }

  .shop-search-bar form {
    width: 80%;
    margin-left: 70px;
    height: 50px;
  }

  .shop-pagination-number span {
    background-color: #d8d4d4;
    padding: 2px 10px;

    font-weight: 600;

    font-size: 14px;
  }

  .shop-total-page p {
    font-size: 14px;
    font-weight: 600;
  }
}

@media screen and (max-width: 848px) {
  .shop-product-img {
    width: 100%;
  }

  .shop-pagination-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .shop-total-page {
    text-align: center;
  }

  .shop-wrapper .shop-header {
    height: 35vh;
    border-radius: 30px;
    padding: 20px 75px;
    background-color: #333333;
    overflow: hidden;
  }
}

@media screen and (max-width: 745px) {
  .shop-header-content .shop-title {
    font-size: 28px;
  }

  .shop-product-img {
    width: 100%;
  }

  .shop-products-area .side-wrapper {
    width: 260px;
  }

  .side-wrapper .side-bar-title h2 {
    font-size: 15px;
  }

  .shop-category .category-title {
    font-size: 15px;
  }

  .category-wrapper label,
  .tags-wrapper label {
    font-size: 13px;
  }

  .filter-price-heading .price-title {
    font-size: 15px;
  }

  .filter-price-heading button {
    padding: 3px 10px;
    font-size: 10px;
  }

  .price-inputs .price-input span {
    font-size: 12px;
    width: 30px;
    height: 22px;
  }

  .price-inputs .price-input input {
    width: 40px;
    height: 22px;
    font-size: 14px;
  }

  .exclusive-products .exclusive-title {
    font-size: 14px;
    font-weight: 500;
  }

  .exclusive-products-wrapper .exclusive-product img {
    width: 90px;
    height: 90px;
  }

  .exclusive-info .exclusive-ratings {
    font-size: 8px;
  }

  .exclusive-info .exclusive-product-title {
    font-size: 12px;
    font-weight: 500;
  }
  .exclusive-info .exclusive-product-price {
    font-size: 12px;
    font-weight: 500;
  }

  .side-wrapper .tags {
    font-size: 13px;
  }

  .shop-contents span {
    font-size: 12px;
  }
  .shop-contents h3 a {
    font-size: 14px;
  }

  .shop-contents .shop-star i {
    font-size: 8px;
  }

  .shop-contents {
    height: 140px;
  }
  .shop-contents .shop-cart a {
    font-size: 10px;
  }
  .display-style-btns {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ededed;
    border-radius: 5px;
  }

  .shop-wrapper .shop-search-bar {
    width: 400px;
  }

  .shop-search-bar form {
    width: 100%;
    height: 40px;
  }

  .shop-search-bar .shop-search-icon {
    width: 35px;
  }

  .shop-search-bar .shop-input {
    width: 100%;
    height: 100%;
  }
  .shop-search-bar .shop-input input {
    font-size: 10px;
    width: 100%;
    padding: 5px 35px;
  }

  .shop-search-bar .shop-input button {
    padding: 5px 12px;
    font-size: 10px;
  }

  .shop-home {
    display: flex;
    justify-content: space-between;
  }

  .shop-header .tags-list ul li {
    background-color: white;
    padding: 2px 10px;
    border-radius: 50px;
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .shop-header .tags-list ul li span {
    color: #333;
    font-size: 11px;
  }
  .shop-header .tags-list ul li a {
    color: orangered;
    font-size: 10px;
    font-weight: 400;
  }
}
@media screen and (max-width: 736px) {
  .shop-products-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .shop-product-img {
    width: 100%;
    height: 220px;
  }

  .shop-product-img .shop-img {
    width: 200px;
    height: 220px;
  }
}

@media screen and (max-width: 600px) {
  .shop-pagination-number {
    display: flex;
    gap: 5px;
  }

  .shop-product-img {
    width: 100%;
  }
  .shop-products-area .side-wrapper {
    width: 260px;
  }

  .details-active .shop-product-img {
    height: 260px;
  }
  .details-active .shop-product-img .shop-img {
    width: 250px;
    height: 250px;
  }

  .shop-pagination-number span {
    padding: 2px 8px;
    font-weight: 600;
    font-size: 12px;
  }

  .shop-total-page p {
    font-size: 12px;
  }

  .shop-wrapper .shop-search-bar {
    width: 350px;
  }

  .shop-search-bar form {
    width: 100%;
    height: 30px;
    margin-left: 50px;
  }

  .shop-search-bar .shop-search-icon {
    width: 30px;
    font-size: 10px;
  }

  .shop-search-bar .shop-input {
    width: 100%;
    height: 100%;
  }
  .shop-search-bar .shop-input input {
    font-size: 8px;
    width: 100%;
    padding: 3px 25px;
  }

  .shop-search-bar .shop-input button {
    padding: 3px 8px;
    font-size: 8px;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .details-active .shop-product-img {
    height: 250px;
  }
  .details-active .shop-product-img .shop-img {
    width: 230px;
    height: 230px;
  }

  .shop-wrapper .shop-header {
    height: 32vh;
    border-radius: 30px;
    padding: 20px 75px;
    background-color: #333333;
    overflow: hidden;
  }
  .shop-products-area .side-wrapper {
    padding: 10px 5px;
    width: 100%;
  }

  .side-wrapper .side-bar-title {
    margin-top: 10px;
  }
  .side-wrapper .side-bar-title h2 {
    font-size: 13px;
  }

  .shop-category .category-title {
    font-size: 13px;
  }

  .category-wrapper label,
  .tags-wrapper label {
    font-size: 10px;
  }

  .filter-price-heading .price-title {
    font-size: 13px;
  }

  .filter-price-heading button {
    padding: 3px 8px;
    font-size: 8px;
  }

  .price-inputs .price-input span {
    font-size: 11px;
    width: 24px;
    height: 20px;
  }

  .price-inputs .price-input input {
    width: 34px;
    height: 20px;
    font-size: 11px;
  }

  .exclusive-products .exclusive-title {
    font-size: 13px;
  }

  .exclusive-products-wrapper .exclusive-product img {
    width: 70px;
    height: 80px;
  }

  .exclusive-info .exclusive-ratings {
    font-size: 6px;
  }

  .exclusive-info .exclusive-product-title {
    font-size: 10px;
  }
  .exclusive-info .exclusive-product-price {
    font-size: 10px;
  }

  .side-wrapper .tags {
    font-size: 11px;
  }

  .side-wrapper .side-bar-close-icon {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }

  .side-wrapper .side-bar-title button {
    font-size: 12px;
    font-weight: 500;
  }

  .product-header-left p {
    display: none;
  }

  .product-header-right .show-page {
    display: none;
  }

  .shop-header .tags-list ul li {
    background-color: white;
    padding: 2px 7px;
    border-radius: 50px;
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .shop-header .tags-list ul li span {
    color: #333;
    font-size: 9px;
  }
  .shop-header .tags-list ul li a {
    color: orangered;
    font-size: 8px;
    font-weight: 400;
  }

  .shop-search-bar form {
    width: 100%;
    height: 20px;
    margin-left: 10px;
    align-items: center;
  }

  .shop-search-bar .shop-search-icon {
    display: none;
  }

  .shop-search-bar .shop-input input {
    display: none;
  }
  .shop-search-bar .shop-input {
    margin-top: 10px;
  }
  .shop-search-bar .shop-input button {
    padding: 3px 10px;
    font-size: 10px;
    height: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 468px) {
  .shop-product-img .shop-img {
    width: 180px;
    height: 180px;
  }
  .shop-product-img {
    width: 100%;
    height: 200px;
  }

  .details-active .shop-product-img {
    height: 220px;
  }
  .details-active .shop-product-img .shop-img {
    width: 200px;
    height: 200px;
  }
  .shop-header .tags-list ul li {
    background-color: white;
    padding: 2px 5px;
    border-radius: 50px;
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .shop-header .tags-list ul li span {
    color: #333;
    font-size: 7px;
  }
  .shop-header .tags-list ul li a {
    color: orangered;
    font-size: 7px;
    font-weight: 300;
  }

  .shop-search-icon {
    background-color: lavender;
    width: 20px !important;
    height: 20px !important;
    padding: 2px;
    align-items: center;
    margin-left: 10%;
    margin-top: 10px;
  }

  .shop-wrapper .shop-header {
    height: 30vh;
    padding: 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .shop-product-img .shop-img {
    width: 150px;
    height: 150px;
  }
  .shop-product-img {
    width: 100%;
    height: 190px;
  }
  .details-active .shop-product-img {
    height: 180px;
  }
  .details-active .shop-product-img .shop-img {
    width: 150px;
    height: 150px;
  }
  .shop-contents {
    padding: 3px;
  }
  .shop-contents span {
    font-size: 10px;
  }
  .shop-contents h3 a {
    font-size: 11px;
  }

  .shop-contents .shop-star i {
    font-size: 6px;
  }

  .shop-contents {
    height: 140px;
  }
  .shop-contents .shop-cart a {
    font-size: 8px;
  }

  .shop-pagination-number {
    display: flex;
    gap: 3px;
  }

  .shop-pagination-number span {
    padding: 2px 7px;
    font-weight: 600;
    font-size: 10px;
  }

  .shop-total-page p {
    font-size: 10px;
  }

  .product-header-right .sort {
    display: flex;
    gap: 5px;
    padding: 2px 5px;
  }

  .product-header-right .sort p {
    font-size: 10px;
  }

  .shop-wrapper .shop-header {
    height: 26vh;
    padding: 20px 20px;
  }

  .shop-wrapper .shop-items li a {
    font-size: 14px;
  }

  .shop-wrapper .shop-items li span {
    font-size: 12px;
  }
  .shop-items .shop-item2::before {
    content: ">";
    font-size: 14px;
    position: absolute;
    transform: translate(-140%);
    color: #cec4c4 !important;
  }
  .shop-home {
    align-items: center;
  }
}
@media screen and (max-width: 345px) {
  .shop-wrapper .shop-header {
    height: 25vh;
    padding: 20px 10px;
  }
  .shop-product-img .shop-img {
    width: 140px;
    height: 140px;
  }
  .shop-product-img {
    width: 100%;
    height: 180px;
  }

  .details-active .shop-product-img {
    height: 160px;
  }
  .details-active .shop-product-img .shop-img {
    width: 130px;
    height: 130px;
  }

  .shop-contents {
    padding: 1px;
    overflow: hidden;
  }
  .shop-contents span {
    font-size: 8px;
  }
  .shop-contents h3 a {
    font-size: 10px;
  }

  .shop-contents .shop-star i {
    font-size: 5px;
  }

  .shop-contents {
    height: 140px;
  }

  .shop-contents .shop-cart {
    font-size: 6px;
  }

  .shop-search-icon {
    margin-left: -80%;
  }

  .shop-products-area .side-wrapper {
    width: 250px;
  }
  .shop-pagination-number span {
    padding: 0px 4px;
    font-weight: 600;
    font-size: 7px;
  }

  .shop-total-page p {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px) {
  .shop-products-area .side-wrapper {
    width: 180px;
  }

  .shop-product-img .shop-img {
    width: 110px;
    height: 110px;
  }
  .shop-product-img {
    width: 100%;
    height: 130px;
  }
  .details-active .shop-product-img {
    height: 140px;
  }
  .details-active .shop-product-img .shop-img {
    width: 120px;
    height: 120px;
  }
}
