* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: orangered;
  border-radius: 5px;
}

::selection {
  background-color: #5bbdff;
  color: black;
}

@font-face {
  font-family: "Comforta";
  src: url(../assets/fonts/comfortaa/Comfortaa-Regular.ttf);
  font-family: "Outfit";
  src: url(../assets/fonts/outfit/Outfit-Regular.ttf);
  font-family: "ArchivoNarrow";
  src: url(../assets/fonts/archivo_narrow/ArchivoNarrow-Regular.ttf);
  font-family: "Urbanist";
  src: url(../assets/fonts/urbanist/ArchivoNarrow-Regular.ttf);
  font-family: "BaiJamjuree";
  src: url(../assets/fonts/bai-jumjuree/BaiJamjuree-Regular.ttf);
}

body {
  font-family: "Comforta", sans-serif;
  line-height: 1.8;
  color: black;
  letter-spacing: 2px;
  word-spacing: 3px;
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 4px 20px;
  background-color: orangered;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #d43900;
  transition: 0.5s;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.top-header {
  background-color: orangered;
  color: white;
  width: 100%;
  height: 40px;
}

.social-icons i {
  font-size: 18px;
  cursor: pointer;
}

.social-icons .follow {
  font-size: 14px;
}

.social-icons i:hover {
  color: black;
  transition: 0.5s;
}
.top-header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.top-header-middle {
  display: flex;
  gap: 5px;
}

.top-header-btn {
  display: flex;
  gap: 5px;
  height: 28px;
  padding: 0px 7px;
  color: white;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
}
.top-header-btn:hover {
  background-color: black;
  transition: 0.5s;
}
.top-header-middle p,
button {
  font-size: 13px;
}

.lang {
  color: white;
}

.lang:hover {
  color: white;
}
.language {
  position: relative;
}
.language-list {
  display: none;
  position: absolute;
  top: 30px;
  left: 10%;
  background-color: white;
  color: black;
  width: 100%;
  height: auto;
  padding: 30px;
  z-index: 1007;
}

.language:hover .language-list {
  display: block;
  color: orangered;
  flex-direction: column;
  transition: 0.5s;
}

.language-list .link-item {
  font-size: 18px;
  font-family: Outfit;
}
.language-list .link-item:hover {
  color: orangered;
  transition: 0.5s;
}

.dropdown {
  display: flex;
  align-items: center;
}
.dropdown-icon i {
  color: white;
  display: flex;
  display: inline-block;
}

.dropdown-icon i:hover {
  color: black;
  transition: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 34, 34);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  padding: 20px;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: 10%;
}

.modal-wrapper span {
  font-size: 18px;
  text-transform: uppercase;
}

.modal-wrapper .save {
  font-size: 60px;
  margin-top: -10px;
  text-transform: uppercase;
  font-weight: 700;
}

.modal-wrapper p {
  font-size: 24px;
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 20px;
}
.cross-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.modal-wrapper .cross-btn:hover {
  transform: rotate(360deg);
}

.modal-wrapper button {
  padding: 10px 20px;
  font-size: 18px;
}
.modal-content {
  padding: 10px;
}

/*************** NAVBAR ************/

nav {
  height: 80px;
}

nav .logo a {
  font-family: BaiJamjuree;
  font-weight: bolder;
  font-size: 34px;
  text-transform: uppercase;
}

.link-items a {
  font-size: 20px;
  font-family: Outfit;
}

.nav .logo span {
  color: orangered;
}
.nav .logo a:hover {
  color: black;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items .dropdown {
  display: flex;
  gap: 3px;
}

.link-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

ul {
  margin-bottom: 0;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-left .search-icon,
.nav-left .user-icon,
.nav-left .cart-icon {
  font-size: 20px;
  cursor: pointer;
}

.nav-left .search-icon:hover,
.nav-left .user-icon:hover {
  color: orangered;
  transition: 0.5s;
}

.nav-left .cart {
  position: relative;
}

.nav-left .cart-num {
  position: absolute;
  font-size: 14px;
  right: 5%;
  top: -15%;
  color: #d43900;
  font-weight: 700;
}

.link-items .link-item:hover,
a.active {
  color: orangered;
}

.toggle-nav {
  display: none;
}

.mobile-nav {
  display: none;
}

.link-items .dropdown {
  position: relative;
}

.dropdown-items1 {
  display: none;
  position: absolute;
  top: 105%;
  left: 10%;
  transform: translateX(-43%);
  background-color: white;
  color: white;
  width: 25vw;
  height: auto;
  padding: 30px;
  z-index: 1006;
}
.dropdown:hover .dropdown-items1 {
  display: block;
  display: flex;
  transition: 0.5s;
}

.dropdown-items2 {
  display: grid;
  grid-template-columns: row;
  justify-content: space-between;
  display: none;
  position: absolute;
  top: 105%;
  left: 10%;
  transform: translateX(-51%);
  background-color: white;
  color: white;
  width: 80vw;
  height: auto;
  padding: 30px;
  z-index: 1006;
}
.dropdown:hover .dropdown-items2 {
  display: block;
  display: flex;
  transition: 0.5s;
}
.dropdown-list .drop-heading {
  font-size: 30px;
  font-weight: 600;
}

.link-item {
  position: relative;
}

.link-item::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eb4019;
  transition: 0.5s;
}
.link-item:hover::after {
  width: 100%;
}

/*************************** cart modal *******************************/
.cart-modal {
  display: none;
  position: fixed;
  top: 4px;
  right: 0;
  height: 100vh;
  transform: translateX(110%);
  background-color: orangered;
  padding: 30px;
  z-index: 1003;
  transition: transform 0.5s ease-in-out;
}

.cart-modal.active {
  display: block;
  transform: translateX(0);
}

.cart-img {
  width: 85px;
  height: 100px;
  overflow: hidden;
}

.cart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.cart-btn h3 {
  font-size: 28px;
}

.cart-btn .cross-btn2 {
  font-size: 23px;
  background-color: orangered;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cart-item {
  display: flex;
  gap: 10px;
  overflow: hidden;
}
.cart-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-detail h3 {
  font-size: 18px;
}

.cart-detail .remove {
  margin-top: -10px;
  cursor: pointer;
}
.cart-detail .remove:hover {
  color: orangered;
  transition: 0.5s;
}
.qunt {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 100px;
}

.qunt-btn button{
  padding: 4px 12px;
}
.cart-scroll {
  overflow: auto;
  height: 65vh;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
}
.chc-btn {
  display: flex;
  justify-content: space-between;
}

/***************************** search modal *************************/

.search-modal {
  background-color: orangered;
  width: 65%;
  padding: 20px;
  height: 80vh;
  margin-left: 20%;
  z-index: 1004;
  position: fixed;
  display: none;
}

.search-wrapper {
  margin: auto;
  overflow: hidden;
  background-color: white;
  padding: 14px;
  margin-top: 5%;
}

.search-modal-container {
  color: black;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5px;
}

.search-modal-content {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
.search-img {
  width: 120px;
  height: 140px;
  overflow: hidden;
  border-radius: 5px;
}

.search-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 5px;
}

.search-img img:hover {
  transform: scale(1.1);
}
.search-modal-cross {
  float: right;
  font-size: 18px;
}

.src-form {
  width: 60%;
  margin: 55px auto;
  position: relative;
}

.src-form .search-icon {
  position: absolute;
  right: 5%;
  margin-top: 2%;
}

.src-form input {
  border: 1px solid;
  padding: 3px 6px;
  width: 100%;
  border-radius: 5px;
}

.src-form input:focus {
  border: 1px solid orangered;
}
.search-modal .result {
  display: flex;
  justify-content: space-between;
}

.search-details {
  margin-top: 14px;
}
.search-details .search-title {
  font-size: 18px;
}

.search-details .search-price {
  font-size: 18px;
  margin-top: -3px;
}
.search-star {
  display: flex;
  gap: 20px;
}
.star {
  font-size: 12px;
  color: orangered;
}
.review {
  font-size: 14px;
}

.search-view {
  font-size: 16px;
}

.item-cross {
  float: right;
  margin-top: -122px;
}
.search-wrapper {
  overflow: auto;
  height: 65vh;
}

/********* SWIPER SLIDER STYLE START*************/
.swiper {
  width: 100vw;
  height: calc(100vh - 120px);
}

.swiper-slide {
  position: relative;
}

.swiper-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  padding: 20px;
}

.swiper-content p {
  color: black;
  font-size: 50px;
  width: 100%;
  font-family: Comforta;
  font-weight: 500;
}

.swiper-content button {
  font-size: 16px;
  padding: 8px 22px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ca2a05 !important;
  fill: #ca2a05 !important;
  stroke: #ca2a05 !important;
}

.swiper-button-next {
  margin-right: 12px !important;
}

/********* SWIPER SLIDER STYLE END *************/

.slick-slider-wrapper {
  margin-top: 20px;
  overflow: hidden;
}

.banner-img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-prev,
.slick-next {
  background-color: orangered !important;
  color: white !important;

  align-items: center;
}

.slick-next:hover {
  background-color: black !important;
  transition: 0.5s;
}
.slick-prev:hover {
  background-color: black !important;
  transition: 0.5s;
}

.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}

.slick-next:before {
  content: "\203A" !important;
}

.slick-prev:before {
  content: "\2039" !important;
}
