.testimonial-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 10%;
  height: 95vh;
}

.testimonial-slider .testimonials-wrapper {
  padding: 20px;
  border-radius: 10px;
  margin-top: -50px;
  overflow: hidden;
}

.testimonial-slider .swiper-button-next,
.testimonial-slider .swiper-button-prev {
  display: none;
}

.testimonial-slider .swiper-pagination {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-slider .swiper-pagination-bullet {
  background-color: orangered;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px !important ;
}

.testimonials-heading {
  margin-bottom: 110px;
}

.testimonials-heading p {
  text-align: center;
  font-family: "Courier New";
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonials-heading h3 {
  font-size: 40px;
  font-family: Outfit;
  text-align: center;
  margin-bottom: 28px;
}

.testimonial-card {
  background-color: #f5e9e9;
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 70%;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 202;
}

.testimonial-card::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: orangered;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 100%;
  z-index: 201;
}

.client-name {
  display: flex;
  gap: 10px;
  margin-top: -10px;
}

.client-img {
  width: 90px;
  height: 90px;
  z-index: 202;
}

.client-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.degi {
  margin-top: 14px;
}
.degi h6 {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Urbanist;
}

.degi p {
  font-size: 14px;
  font-family: Outfit;
}

.qua-up {
  font-size: 80px;
  margin-bottom: -75px;
  color: orangered;
}

.client-star {
  color: orangered;
  font-size: 13px;
  margin-top: -12px;
}

.client-speach {
  max-width: 95%;
  font-family: Outfit;
  font-size: 17px;
}
